@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family:'Lato', sans-serif ;
}
section{
    background-color: rgb(217, 235, 235);
}


