.Login-Nav{
    width: 100%;
    height: 10vh;
    background-color: rgb(217, 235, 235);
}

.Login-Form{
    height: 65vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(217, 235, 235);

    @media screen and (max-width: 768px){
        width : 100%;
        min-width: 350px;
        display:flex;
        flex-direction: column;
    }


}
.Login-footer{
    width: 100%;
    height: 25vh;
}
.Form{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 768px){
        width : 100%;
        min-width: 350px;
        display:flex;
        flex-direction: column;
    }

}
.form-input{
    width: 70%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

    @media screen and (max-width: 768px){
        width : 100%;
        min-width: 350px;
        display:flex;
        flex-direction: column;
    }


    
    @media screen and (max-width: 768px){
        width : 100%;
        min-width: 350px;
        display:flex;
        flex-direction: column;
    }
}
.select-input{
    width: 70%;
    height: 25%;
    display: flex;
    flex-direction: column;
    padding-left: 1.1rem;
    padding-top: 0.5rem;

   
    @media screen and (max-width: 768px){
        width : 100%;
        min-width: 350px;
    }
}
.input-Btn{
    width: 70%;
    height: 20%;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px){
        width : 100%;
        min-width: 350px;
    }
    @media screen and (max-width: 400px){
        width : 100%;
        min-width: 250px;
    }
}